<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to t('link_home'), root_path %></li>
      <li><%= link_to t('link_help'), help_path %></li>
      <li><%= link_to t('link_tools'), tools_path %></li>
      <% if signed_in? %>
        <li><%= link_to t('link_profile'), current_user %></li>
        <li><%= link_to t('link_settings'), edit_user_path(current_user) %></li>
        <li><%= link_to t('link_signout'), signout_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to t('link_signin'), signin_path %></li>
        <li><%= t('link_or') %></li>
        <li><%= link_to t('link_signup'), signup_path %></li>
      <% end %>
    </ul>
  </nav>
  <% if signed_in? && current_user.admin? %>
  <nav class="adminbar round">
    <ul>
      <li>Admin: </li>
      <li><%= link_to t('link_userlist'), users_path %></li>
      <li><%= link_to t('link_doctorlist'), doctors_path %></li>
    </ul>
  </nav>
  <% end %>
  <% if !Rails.env.test? %>
  <% if signed_in? %>
    <% if current_user.admin? %>
      <nav class="localizationadmin round">
    <% else %>
      <nav class="localization round">
    <% end %>
  <% else %>
    <nav class="localization round">
  <% end %>
    <ul>
      <li><%= t('link_localization') %>:</li>
      <li><%= language_link "DE", "de" %></li>
      <li><%= language_link "EN", "en" %></li>
    </ul>
  </nav>
  <% end %>
  <nav class="toolsbar round">
    <ul>
      <li><%= t('tools_bar_description') %>:</li>
      <li><%= link_to t('link_khplanner'), khplanner_path %></li>
    </ul>
  </nav>
</header>
